.app_re{
     margin: 0 auto;
     width: 80%;
 }

.h1_prod {
    text-align: center;
    padding: 1.5rem 2.5rem;
    background-image: linear-gradient(120deg, #fbc2eb 0%, #a6c1ee 100%);
    margin: 0 0 2rem 0;
    font-size: 1.5rem;
    color: white;
}
.link_main{

    text-decoration: none;
    font-size: 1.5rem;
    color: white;
}
.width-info {
    width: 50%;
}
.width-rev{
    width: 45%;
}
.btn{
    margin-left: 1em;
}
.p_prod {
    float: left;
    padding: 0 2.5rem 2.5rem;
    margin: 0;
}
#root {
    margin-left: 10%;
    margin-right: 10%;
}
.float_right
{
    float: right;
}
.review
{
    float: right;
    margin-top: 25px;
}
.header {
    margin: 10px;
}
.top-menu a {
    margin: 0 5px 0 0;
    text-decoration: none;
}
.content {
    margin: 10px;
}
.img_prod{
    float: left;
    max-height: 100%;
    max-width: 100%;
    margin-left: 10%;
    width: 20%;
    height: 20%;
}
.container {
    display: flex;
    flex-wrap: wrap;
}
.reviews_margin{
    margin: 1em;
}
.card {
    margin: 1rem;
    background: white;
    box-shadow: 2px 4px 25px rgba(0, 0, 0, .1);
    border-radius: 12px;
    overflow: hidden;
    transition: all .2s linear;
}
.card_info {
    float: left;
    margin: 1rem;
    background: white;
    box-shadow: 2px 4px 25px rgba(0, 0, 0, .1);
    border-radius: 12px;
    overflow: hidden;
    transition: all .2s linear;
}
.card_reviews {
    display: block;
    margin: 1rem;
    background: white;
    box-shadow: 2px 4px 25px rgba(0, 0, 0, .1);
    border-radius: 12px;
    overflow: hidden;
    transition: all .2s linear;
}
.card:hover {
    box-shadow: 2px 8px 45px rgba(0, 0, 0, .15);
    transform: translate3D(0, -2px, 0);
}
.pp-review-date {
    float: right;
    margin: 3px 0 6px 1em;
}
.star-rating{
    font-size: 0;
    margin: 0.5rem;
}
.star-rating__wrap{
    display: inline-block;
    font-size: 1rem;
}
.star-rating__wrap:after{
    content: "";
    display: table;
    clear: both;
}
.star-rating__ico{
    float: right;
    padding-left: 2px;
    cursor: pointer;
    color: #FFB300;
}
.star-rating__ico:last-child{
    padding-left: 0;
}
.star-rating__input{
    display: none;
}
.star-rating__ico:hover:before,
.star-rating__ico:hover ~ .star-rating__ico:before,
.star-rating__input:checked ~ .star-rating__ico:before
{
    content: "\f005";
}
.form-control {
    display: block;
    width: stretch ;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.428571429;
    color: #555555;
    vertical-align: middle;
    background-color: #ffffff;
    border: 1px solid #cccccc;
    border-radius: 4px;

}
textarea.form-control {
    height: auto;
    resize: none;
}

@media screen and (min-width: 600px) {
    .card {
        flex: 1 1 calc(50% - 2rem);
    }
}

@media screen and (min-width: 900px) {
    .card {
        flex: 1 1 calc(33% - 2rem);
    }
}